* {
    margin: 0;
    padding: 0;
}

body {
    background: #b4c9ff;
    font-family: "open sans", sans-serif;
}

.container {
    width: 500px;
    margin: 150px auto 0;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    height: auto;
    position: relative;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
}

.title {
    position: absolute;
    top: -10px;
    background: #1f72ff;
    color: #fff;
    padding: 10px 20px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid #0d58ff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #0d58ff;
}

.sub-container {
    padding-top: 4px;
}

.label, .get-data {
    display: inline-block;
    margin: 3px;
    background: #fff;
}

.label {
    text-transform: capitalize;
    font-weight: 700;
    width: 120px;
}

.get-data {
    width: 280px;
    text-align: right;
    color: #0d58ff;
}